form {
    width: 100%;
    max-width: 280px;
    text-align: center;
    border: solid 2px black;
    padding-bottom: 20px;
    padding-top: 10px;
    margin: auto;
    background: gray;
    border-radius: 40px;
  }
  input[type=text] {
      width: 70%;
      padding: 16px 32px;
      font-size: 20px;
      margin: 20px 0;
      text-align: left;
      color: #333;
      background: #ccc;
      border-radius: 20px;
      text-align : right;
  }
  input[type=button] {
      background-color: rgb(204, 94, 94);
      border: none;
      color: white;
      padding: 12px 0px;
      font-size: 16px;
      min-width: 20%;
      text-decoration: none;
      margin: 3px 3px;
      cursor: pointer;
      border-radius: 15px;
    }

    input[class=number] {
        background-color: black;
    }

    input[class=equal] {
        background-color:rgb(95, 86, 80);
    }

    input[class=operator] {
        background-color: burlywood;
        color: black;
    }

    h1{
        text-align: center;
    }

    body{
        background-color: antiquewhite;
    }
  

