input[type=button] {
    background-color: white;
    border: 5px;
    text-align: center;
    border: 5x;
    border-color: black;
    border-style: solid;
    border-radius: 10px;
    padding: 12px 0px;
    min-width: 25%;
    margin: 3px 3px;
    cursor: pointer;
  }
  form {
    width: 100%;
    max-width: 250px;
    text-align: center;
    border: solid 10px black;
    padding-bottom: 10px;
    padding-top: 10px;
    margin: auto;
    background:cadetblue;
    border-radius: 40px;
  }

  body{
    background:cornsilk;
  }

  
  #btReiniciar{
    font-size: 20px; 
    text-align: center;
    background: black;
    color: cornsilk;
    text-transform: uppercase;
    font-weight: 600;
  }

  h1{
    text-align: center;
    background: black;
    color: cornsilk;
    text-transform: uppercase;
    padding: 50px 10px;
    border-radius: 50px;
    font-size: 50px; 
  }