body{
    text-align:center;
    background-color:white;
    color:black;
}

h1 {
    background-color: black; 
    color: red;
    text-transform: uppercase;
    padding: 10px 10px;
    text-align: center; 
    font:600 30px;      
     
}
h2{
    text-align:center;
    color:green;
}
h3{
    text-align:center;
    color:blue;
}
h4{
    text-align:center;
    color:black;
}
p{
    color:gray;
}