body{
    text-align:center;
    background-color:darkseagreen;
    color:black;
}

h1 {
    color: red;
    text-transform: uppercase; 
    text-align:center;     
}
h2{
    text-align:center;
    color:green;
}
h3{
    text-align:center;
    color:blue;
}
h4{
    text-align:center;
    color:black;
}
p{
    color:black;
}